@{
  Layout = "_Layout";
}

<h1>University Registrar</h1>
<p>@Html.ActionLink("View courses", "Index", "Courses")</p>
<p>@Html.ActionLink("View students", "Index", "Students")</p>
<p>@Html.ActionLink("View departments", "Index", "Departments")</p>